	{% load static %}
	{% load extra_tags %}
	<!-- header-bottom-->
	<div class="header-bot">
		<div class="container">
			<div class="row header-bot_inner_wthreeinfo_header_mid">
				<!-- logo -->
				<div class="col-md-3 logo_agile">
					<h1 class="text-center">
						<a href="{% url 'core:home' %}" class="font-weight-bold font-italic">
							<img src="{% static '/images/logo2.png' %}" alt=" " class="img-fluid">WealShop Store
						</a>
					</h1>
				</div>
				<!-- //logo -->
				<!-- header-bot -->
				<div class="col-md-9 header mt-4 mb-md-0 mb-4">
					<div class="row">
						<!-- search -->
						<div class="col-9 agileits_search">
							<form class="form-inline" action="#" method="post">
								<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required>
								<button class="btn my-2 my-sm-0" type="submit">Search</button>
							</form>
						</div>
						<!-- //search -->
						<!-- cart details -->
						<div class="col-3 top_nav_right text-center mt-sm-0 mt-2"> 
								
								{% if request.session.id %}
								<a style="color: #fff;" href="{% url 'core:checkout' request.session.id %} ">
								{% else %}
									<a style="color: #fff;" href="{% url 'core:login' %} "> 
								{% endif %}
								
									
								
									<button class="btn w3view-cart" type="submit" name="submit" value="">
										<i class="fas fa-cart-arrow-down"></i> 
											
											{% if request.session.id %}
											<span class="badge badge-success">
												{{request.session.id|addto_card_items}}
											</span>
											{% endif %} 
										
									</button>
								</a> 
						</div>
						<!-- //cart details -->
					</div>
				</div>
			</div>
		</div>
	</div> 